<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Subscriber</title>
  <link rel="stylesheet" href="./app.css">
</head>
<body>

  <section id="jsSubApp" class="container">
    <h2>SubApp</h2>
    <p>
      You are the Subscriber.
      <br>
      To subscribe, choose your publisher's #ch and push START!
    </p>

    <h3>Subscribe</h3>

    <div class="row">
      <label>
        <p class="column" v-show="!hasCh">No publishers.</p>
      </label>
      <label class="column" v-for="_ch in ch">
        <input
          type="radio"
          name="ch"
          v-model="chName"
          :disabled="state.isSub"
          value="{{$key}}"
        >
        {{$key}}
      </label>
    </div>

    <button
      class="button"
      :class="{ 'button-outline': !state.isSub }"
      :disabled="state.isSub || !chName"
      @click="startSub"
    >Start</button>
    <button
      class="button"
      :class="{ 'button-outline': state.isSub }"
      :disabled="!state.isSub"
      @click="stopSub"
    >Stop</button>

    <h3>Volume</h3>
    <input type="range" min="0" max="1" step="0.1" v-model="volume">
    <button
      class="button"
      :class="{ 'button-outline': volume !== 0 }"
      :disabled="volume === 0"
      @click="volume = 0"
    >Mute</button>

  </section>

  <script src="./app.js"></script>
</body>
</html>
